In [42]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [2]:
print(whales)

[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [3]:
whales[0]

5

In [4]:
whales[3]

3

In [5]:
len(whales)

14

In [6]:
grades = ['A', 'B', 'C', 'D', 'F']

In [7]:
grades[0]

'A'

In [9]:
# [start_index:end_index)
grades[1:4]

['B', 'C', 'D']

In [10]:
# [start_index:end_index:step_size)
grades[1::2]

['B', 'D']

In [11]:
whales

[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [13]:
whales[1:6:2]

[4, 3, 3]

In [14]:
grades[-1]

'F'

In [15]:
grades[-2]

'D'

In [18]:
grades[]

SyntaxError: invalid syntax (Temp/ipykernel_17232/3157222354.py, line 1)

In [19]:
grades[:] # get copy of list

['A', 'B', 'C', 'D', 'F']

In [20]:
grades[::-1]

['F', 'D', 'C', 'B', 'A']

In [32]:
grades = ['A', 'B', 'C', 'D', 'F']

In [27]:
grades[0] = 'a'

In [29]:
grades

['a', 'B', 'C', 'D', 'F']

In [30]:
grades[1:3] = 'a'

In [33]:
grades

['A', 'B', 'C', 'D', 'F']

In [34]:
grades[2:] = ['d', 'f']

In [35]:
grades

['A', 'B', 'd', 'f']

In [43]:
whales

[5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [45]:
whales[2:3] = 'a'

In [46]:
whales

[5, 4, 'a', 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [48]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
whales[2:4] = [99, 100]

In [49]:
whales

[5, 4, 99, 100, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [51]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]

In [52]:
grades

['B', 'C', 'D', 'F']

In [53]:
del grades[1:3]

In [54]:
grades

['B', 'F']

In [63]:
whales = [5, 4, 7, 3, 99, 3, 2, 6, 4, 2, 1, 7, 1, 3]
whales

[5, 4, 7, 3, 99, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [59]:
whales[2:4] = 'blah'

In [60]:
whales

[5, 4, 'b', 'l', 'a', 'h', 99, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [61]:
del grades[1:3]

In [62]:
grades

['B']

In [64]:
whales[2:4] = [10]

In [65]:
whales

[5, 4, 10, 99, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [66]:
grades1 = ['A', 'B', 'C']
grades2 = ['D', 'F']

In [67]:
grades = grades1 + grades2

In [68]:
grades

['A', 'B', 'C', 'D', 'F']

In [69]:
grades = ['A', 'B', 'C', 'D', 'F']
grades *= 3

In [70]:
grades

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

In [71]:
buffer = [None] * 10

In [72]:
buffer

[None, None, None, None, None, None, None, None, None, None]

In [73]:
whales

[5, 4, 10, 99, 3, 2, 6, 4, 2, 1, 7, 1, 3]

In [74]:
sum(whales)

147

In [75]:
my_list = ['A', 1, 'Spam', True]

In [77]:
sum(my_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [79]:
my_list = ['A', 'Spam']
sum(my_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [81]:
my_list2 = [['John', [55, 65, 86]], ['Jane', [70, 80, 80]]]

In [82]:
my_list2[0]

['John', [55, 65, 86]]

In [83]:
my_list2[0][0]

'John'

In [84]:
my_list2[0][1]

[55, 65, 86]

In [85]:
my_list2[0][1][2]

86

In [86]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

In [89]:
sorted_list = sorted(numbers)

In [88]:
numbers

[3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

In [90]:
sorted_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [91]:
booleans = [True, False, True]

In [92]:
any(booleans)

True

In [93]:
all(booleans)

False

In [94]:
user_access = [True, True, False]

any(user_access)

True

In [95]:
all(user_access)

False

In [96]:
grades = ['A', 'B', 'C']
grades.append('D')

In [97]:
grades

['A', 'B', 'C', 'D']

In [98]:
grades.insert(4, 'F')

In [99]:
grades

['A', 'B', 'C', 'D', 'F']

In [100]:
grades.insert(14, 'F+')

In [101]:
grades

['A', 'B', 'C', 'D', 'F', 'F+']

In [102]:
grades.remove(2)

ValueError: list.remove(x): x not in list

In [103]:
grades.remove('F+')

In [104]:
grades

['A', 'B', 'C', 'D', 'F']

In [105]:
f = grades.pop()

In [106]:
grades

['A', 'B', 'C', 'D']

In [107]:
f

'F'

In [108]:
tmp = grades.remove('D')

In [109]:
tmp

In [110]:
type(tmp)

NoneType

In [111]:
grades

['A', 'B', 'C']

In [112]:
grades.pop(1)

'B'

In [113]:
grades

['A', 'C']

In [114]:
grades = ['A', 'B', 'C']
grades.append('D')

In [115]:
grades

['A', 'B', 'C', 'D']

In [116]:
del grades[1]

In [117]:
grades

['A', 'C', 'D']

In [118]:
grades.index('C')

1

In [119]:
grades.append('C')

In [120]:
grades

['A', 'C', 'D', 'C']

In [121]:
grades.index('C')

1

In [122]:
grades.count('C')

2

In [123]:
# sorted vs sort()
# sorted is a function 
# sort() is a method on list data type -- will sort in-place

In [124]:
grades

['A', 'C', 'D', 'C']

In [125]:
sorted(grades)

['A', 'C', 'C', 'D']

In [126]:
grades.sort()

In [127]:
grades

['A', 'C', 'C', 'D']

In [128]:
tmp = grades.sort()

In [129]:
type(tmp)

NoneType

In [130]:
tmp = sorted(grades)

In [131]:
type(tmp)

list

In [132]:
grades.reverse()

In [133]:
grades

['D', 'C', 'C', 'A']

In [134]:
a, b = [3,4]

In [135]:
a

3

In [136]:
b

4

In [137]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

In [138]:
numbers[2:5]

[8, 9, 5]

In [139]:
a = numbers[2:5]

In [140]:
a

[8, 9, 5]

In [141]:
a,b = numbers[2:5]

ValueError: too many values to unpack (expected 2)

In [143]:
a,b,c = numbers[2:5]

In [144]:
a

8

In [145]:
b

9

In [146]:
c

5

In [ ]:
# How is reverse() different from [: :-1], any example for this?

In [147]:
my_tuple = (1, 2, 3, 4)

In [148]:
my_tuple[2] = 4

TypeError: 'tuple' object does not support item assignment

In [149]:
my_tuple = (1, [99, 100], 3, 4)

In [150]:
my_tuple[1] = 100

TypeError: 'tuple' object does not support item assignment

In [151]:
my_tuple[1][1] = 1000

In [152]:
my_tuple

(1, [99, 1000], 3, 4)

In [153]:
with open('test_file.txt', 'w') as file:
    file.write('line1\nline2')
    
    
## Here
x = 1

title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))

In [155]:
print(file_content)

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [156]:
with open('test_file.txt', 'w') as file:
    file.write(file_content)

# Header1

In [159]:
values = range(10)

In [163]:
values = list(values)

In [164]:
values

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
list(range(1,10, 3))

[1, 4, 7]

In [169]:
values = [4, 10, 3, 8, -6, 10]
for i in range(len(values)):
    print(i)

0
1
2
3
4
5

In [170]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [171]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [173]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values, 100):
    print(index, value)

100 4
101 10
102 3
103 8
104 -6

In [174]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [175]:
values

[8, 20, 6, 16, -12]

In [176]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [177]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [178]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [179]:
for metal, weight in metals, weights:
    print(metal, weight)

ValueError: too many values to unpack (expected 2)

In [180]:
metals = ['Li', 'Na', 'K',]
weights = [6.941, 22.98976928, 39.0983]
temp = [1, 2, 3]
for metal, weight, t in zip(metals, weights, temp):
    print(metal, weight, t)

Li 6.941 1
Na 22.98976928 2
K 39.0983 3

In [181]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [183]:
info = [['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']]
for item in info:
    print(len(item))

3
3
4

In [185]:
x = 'abc\tefg\thij'
x.split('\t')

['abc', 'efg', 'hij']

In [202]:
x = 'Doe, John\t1234\tteststring\nDoe, Jane\t2244\tblahblah,,,,\tblah\nDoe, John\t1234\tteststring'

In [195]:
x

'Doe, John\t1234\tteststring\nDoe, Jane\t2244\tblahblah,,,,blah'

In [196]:
print(x)

Doe, John	1234	teststring
Doe, Jane	2244	blahblah,,,,blah

In [206]:
bad_lines = []
for line_number, line in enumerate(x.split('\n'), 1):
    number_of_columns = len(line.split('\t'))
    if number_of_columns != 3:
        bad_lines.append(line_number)
        
bad_lines

[2]

In [207]:
x

'Doe, John\t1234\tteststring\nDoe, Jane\t2244\tblahblah,,,,\tblah\nDoe, John\t1234\tteststring'

In [211]:
lines = x.split('\n')

In [212]:
first = lines[0]

In [213]:
first

'Doe, John\t1234\tteststring'

In [214]:
first.split('\t')

['Doe, John', '1234', 'teststring']

In [215]:
lines

['Doe, John\t1234\tteststring',
 'Doe, Jane\t2244\tblahblah,,,,\tblah',
 'Doe, John\t1234\tteststring']

In [216]:
bad_lines = []
for line_number, line in enumerate(x.split('\n'), 1):
    print(line_number)
    print(line)
    number_of_columns = len(line.split('\t'))
    if number_of_columns != 3:
        bad_lines.append(line_number)
        
bad_lines

1
Doe, John	1234	teststring
2
Doe, Jane	2244	blahblah,,,,	blah
3
Doe, John	1234	teststring

[2]

In [217]:
x = [1, 2, 3]
2 in x

True

In [218]:
def remove_duplicate(input_list):
    output_list = []
    for value in input_list:
        if value not in output_list:
            output_list.append(value)
            
    return output_list
    
remove_duplicate([1, 2, 2, 3, 4, 4, 1, 5, 19])

[1, 2, 3, 4, 5, 19]

In [ ]:
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
        # do something with line

In [219]:
x = '                         '
x.strip()

''

In [223]:
filename = 'for_ex7_data1.txt'
with open(filename, 'r') as file:
    count = 0
    total = 0
    for line in file:
        total += float(line)
        count += 1
        
print(total/count)

78.8

In [226]:
filename = 'for_ex7_data2.txt'
with open(filename, 'r') as file:
    count = 0
    total = 0
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
        total += float(line)
        count += 1
        
print(total/count)

64.42857142857143

In [227]:
filename = 'for_ex7_data3.txt'
with open(filename, 'r') as file:
    count = 0
    total = 0
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
        total += float(line)
        count += 1
        
print(total/count)

ValueError: could not convert string to float: '99.o\n'

In [228]:
x = '99.o\n'

float(x)

ValueError: could not convert string to float: '99.o\n'

In [229]:
x.isnumeric()

False

In [231]:
y = '3\n'
y.strip().isnumeric()

True

In [235]:
z = '3.14\t'
z.strip().isdigit()

False

In [233]:
z.strip()

'3.14'

In [238]:
filename = 'for_ex7_data3.txt'
with open(filename, 'r') as file:
    count = 0
    total = 0
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
            
        try:
            value = float(line)
        except:
            continue
        
        total += float(value)
        count += 1
        
print(total/count)

75.43

In [3]:
import random
random.seed(503)
for _ in range(5):
    print(random.randint(0,10))

2
2
5
3
6